.players-table{
    border: 1px solid #ddd;
}

.header-cell{
    border: 1px solid #ddd;
    min-width: auto;
    padding: 10px;
}

.cell{
    border: 1px solid #ddd;
    min-width: auto;
    padding: 5px;
}

.accounts-per-page-container{
    padding: 5px;
}

.active-pagination-button{
    color: red;
}

.hidden{
    visibility: hidden;
}